
.game-section{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.button-container{
  display: flex;
  align-items: center;
  gap: 8px;
}
